---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-tenant
  namespace: argocd
  labels:
    tenant: demo
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/moahmed90/multi-tenant-platform
    targetRevision: main
    path: gitops/tenants/demo
  destination:
    server: https://kubernetes.default.svc
    namespace: tenant-demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
